<section>
  <h1 class="text-2xl">Pipes numericos</h1>
  <h3 class="text-xl font-thin">Pipes incluidos en angular</h3>
</section>

<section>
  <div class="stats shadow w-full">
    <div class="stat place-items-center">
      <div class="stat-title">Number:'1.2-4'</div>
      <div class="stat-value">{{ totalSells() | number:'1.2-2' }}</div>
      <div class="stat-desc">{{totalSells()}}</div>
    </div>

    <div class="stat place-items-center">
      <div class="stat-title">Number:'1.1-4'</div>
      <div class="stat-value">{{ totalSells() | number:'1.1-2' }}</div>
      <div class="stat-desc">{{totalSells()}}</div>
    </div>

    <div class="stat place-items-center">
      <div class="stat-title">Currency pipe</div>
      <div class="stat-value">{{totalSells() | currency:"CAD":'symbol-narrow':'1.4-4' }} </div>
      <div class="stat-desc"> {{totalSells()}} </div>
    </div>
    <div class="stat place-items-center">
      <div class="stat-title">percent pipe:'1.2-2'</div>
      <div class="stat-value">{{ percent() | percent:'1.2-2' }}</div>
      <div class="stat-desc">{{percent()}}</div>
    </div>

    <div class="stat place-items-center">
      <div class="stat-title">percent pipe</div>
      <div class="stat-value">{{ percent() | percent }}</div>
      <div class="stat-desc">{{percent()}}</div>
    </div>
  </div>


</section>
